

{{ define "outputs" }}
output "unique-seed" {
  value = coalesce(var.unique-seed, local.random_safe_generation)
}

output "validation" {
  value = {for k,v in local.validation: k => v if v != null}
}

output "outputs" {
  value       = {for k,v in local.az: k => v if v != null}
  description = "Outputs for the Azure resources created by this module."
}

{{ end }}